<div class="page-container">
   <h1>Log InForm</h1>
   <form action="/auth/login" method="POST">
      <label> E-mail
      </label>
      <br>
      <input type="text" name="email">
      <br>
      <label> Password
      </label>
      <br>
      <input type="password" name="password">
      <br>
      <br>

      <button type="submit" class="btn btn-primary">Enter Site</button>
   </form>
</div>