<form action="/auth/login" method="POST">
   <label> E-mail
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Enter Site</button>
</form>