<form action="/auth/signup" method="POST">
   <div>
      <div>
         <label> Username
            <input type="text" name="username">
         </label>
      </div>
      <div>
         <label> Password
            <input type="password" name="password">
         </label>
      </div>
      <div>
         <label> Username
            <input type="text" name="username">
         </label>
      </div>
      <div>
         <label> Password
            <input type="password" name="password">
         </label>
      </div>
   </div>

   <button type="submit">Submit</button>
</form>