<div class="page-container">
   <h1>New User Form</h1>
   <form action="/auth/signup" method="POST">
      <div>
         <div>
            <label> Name *
            </label>
            <br>
            <input type="text" name="firstName">
         </div>
         <div>
            <label> Pick your city *
            </label>
            <br>
            <select name="location">
               <option value="">--Please select your City--</option>
               {{#each LOCATION_ENUM}}
               <option value="{{this}}">{{this}}</option>
               {{/each}}
            </select>
         </div>
         <div>
            <label> Email *
            </label>
            <br>
            <input type="email" name="email">
         </div>
         <div>
            <label>Create a Password *
            </label>
            <br>
            <input type="password" name="password">
         </div>
      </div>
      <br>
      <br>

      <button type="submit" class="btn btn-primary">Create</button>
   </form>

   {{#if errorMessage}}
   <h1 style="color: red;">{{errorMessage}}</h1>
   {{/if}}
</div>