<div class="page-container">
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div>
    <h2>Get paid by helping others and doing what passionates you the most!</h2>
    <p>Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum. At nam minimum
      ponderum. Est audiam animal molestiae te.</p>
  </div>
</div>