<h1>Create Post</h1>
<form action="/posting/new" method="post">
  <label for="">Post Title</label>
  <br>
  <input type="text" name="title">
  <br>
  <label for="">Describe It</label>
  <br>
  <input type="text" name="description">
  <br>
  <label for="">Where?</label>
  <br>
  <input type="select" name="location">
  <br>
  <label for="">Date</label>
  <br>
  <input type="date" name="date">
  <br>
  <label for="">Address (optional)</label>
  <br>
  <input type="text" name="address">
  <br>
  <label for="">Contact Number (optional)</label>
  <br>
  <input type="tel" name="phoneNumber">
  <br>
  <label for="">Ensured?</label>
  <br>
  <input type="text" name="insurance">
  <br>
  <label for="">Wage?</label>
  <br>
  <input type="number" name="hourlyFee">
  <br>
  <label for="">Images</label>
  <br>
  <input type="file" name="image">
  <br>
  <br>

  <button type="submit">Submit</button>
</form>


{{#if errorMessage}}
<h1 style="color: red;">{{errorMessage}}</h1>
{{/if}}