<h1>This is the search result</h1>
<div>
  {{#each result }}
  <a href="/posting/{{this._id}}/view">
    <h3>
      {{this.title}}
    </h3>
  </a>
  <p>
    {{this.description}}
  </p>
  <div>
    {{this.image}}
  </div>
  <a href=""><button>Contact</button></a>
  <a href=""><button>Evaluate</button></a>
  {{/each}}
</div>